/* your code here */
.content{
	height:50%;
	width:100%;
	background:black;
	color:white;
	padding:5px;
	font-family:Arial;
}
.top{
	display: flex;               /* enable flexbox */
  justify-content: space-between; /* push items to edges */
  align-items: flex-start;     /* align at the top */
  width: 100%;                 /* full width of parent */      /* optional, just to see container */
  padding: 10px;
  box-sizing: border-box;
  margin-bottom:20px;
}
.logo-details{
	font-size:22px;
}
.link-boxes{
	display:flex;
	justify-content:space-around;
	margin-top:30px;
}
.link-boxes a{
	text-decoration:underline;
}
.link-boxes ul li{
	text-decoration:none;
}
